.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    background: rgba(0,0,0,0.2);
}

.navbar ul{
    padding: 0px 15px;
}

.navbar li{
    display: inline;
    margin: 0px 10px;
}

.nav-title{   
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    border-bottom: 1px transparent;
    padding: 5px 10px;
    transition: 0.5s;
}
.nav-title:hover{
    /* color: white; */
    border-bottom: 1px solid black;
    border-radius: 3px;
    background: rgb(224, 224, 224);
}


